<h1>Welcome</h1>


<h2>Sign in below</h2>
<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <br>
  <br>
  <%= f.submit 'Sign In' %>
  <% end %>


<!-- Trying to get the form tag working. -->
<h2>Sign up below</h2>

<%= form_tag, users_path do %>
<%= label :username %><br>
<%= text_field_tag :username %><br>

<%= label :password %><br>
<%= password_field_tag :password %><br>
<br>
<br>
<%= submit_tag 'Sign In' %>
<% end %>
